@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgb(32, 14, 32), rgb(32, 19, 32));
  padding: 30px;
  color: rgb(173, 90, 173);
}

body {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(to bottom, rgb(17, 9, 17), rgb(48, 48, 56));
  min-height: 100vh;
}

nav h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  word-spacing: 7px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
}

.intro p {
  font-family: "Roboto", serif;
  font-weight: 300;
  color: rgb(102, 236, 241);
}

.intro h2 {
  font-family: "Orbitron", serif;
  font-size: 48px;
  color: white;
  margin-left: 30px;
  pointer-events: none;
  z-index: 1;
  text-shadow: 0 3px 0 black;
  margin-bottom: 15px;
}

.orbitron {
  font-family: "orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.button-div {
  display: flex;
  gap: 10px;
}

.bubble-button {
  user-select: none;
  padding: 10px;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  box-sizing: 0 2px 0 rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: all 0.3 cubic-bezier(0.19, 1, 0.22, 1);
}

.bubble-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.33);
}

.bubble-button:active {
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.033);
}

.pink-design {
  color: rgb(225, 255, 255);
  background-color: rgb(230, 62, 163);
  border-bottom: 4px solid rgb(212, 21, 145);
  border-top: 1px solid rgb(233, 128, 194);
  border-left: 1px solid rgb(233, 128, 194);
  border-right: 1px solid rgb(212, 21, 145);
  text-shadow: 0 2px 0 rgb(212, 21, 145);
}

.blue-design {
  color: rgb(246, 252, 255);
  background-color: rgb(17, 6, 170);
  border-bottom: 4px solid rgb(11, 4, 116);
  border-top: 1px solid rgb(24, 105, 195);
  border-left: 1px solid rgb(24, 105, 198);
  border-right: 1px solid rgb(6, 3, 139);
  text-shadow: 0 2px 0 rgb(6, 3, 139);
}
